
{% extends "basic.html" %}
{% load static %}

 
	{% block head %}


{% endblock %}




{% block body %}


    
<div class="jumbotron">
    <h1 class="display-4">Always at your Service</h1>
    <p class="lead">
      Our Disease Prediction system is designed to provide immediate assistance to those in need of medical help, even when a doctor is not available. 
      By leveraging the power of intelligent data mining techniques, we can quickly and accurately analyze user-specific details to determine the illness
      that is most likely associated with their symptoms.
      With our web application, users can easily share their health-related issues and receive guidance on how to proceed with our Doctors available on website.
      This information can then be used to quickly identify potential illnesses and provide recommendations on how to seek further treatment.
      By using our Disease Prediction system, users can save valuable time and potentially avoid serious health complications. 
      So if you or someone you know needs medical assistance, our application is here to help.

                
  
     {% if user.is_authenticated %}

     
     {% else %}

      <p class="lead">
      <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target=".bd-example-modal-lg">Get started</button>
      </p>
    

</div>

<br><br><br>
<div class="container mt-5 mb-3" style="width:fit-content;">
      <center>
        <h1>Sign-In  As</h1>
        </center>
      
      
      <form>
          <div class="container mt-5 mb-5">
       <div class="row">
          <div class="col">
             <a href="{% url 'sign_in_admin' %}">
      <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_doctor' %}">
      <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_patient' %}">
      <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
      </a>
          </div>
        </div>
        </div>
      </form>
</div>


    

    {% endif %}

<br><br>




<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-In  As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5">
 <div class="row">
    <div class="col">
       <a href="{% url 'sign_in_admin' %}">
<img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-Up  As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5 ml-5 mr-5">
 <div class="row">

    <div class="col">
<a href="{% url 'signup_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'signup_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>

<br><br><br><br>
<center><h2>Our Doctors</h2></center>
<div class="row mt-5 mb-5">
  <div class="col">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">Dr. Samarth Malviya </h5>
              <img  alt="admin" src="{% static 'homepage/c31.jpg' %}" width="200" height="150" class="rounded">
              <p class="card-text">Vijay Medical Center, Khalghat, A.B. Road , Distt. Dhar 454552(Madhya Pradesh)</p>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">Dr. Sanyog Malviya </h5>
              <img  alt="admin" src="{% static 'homepage/c41.jpg' %}" width="200" height="150" class="rounded">
              <p class="card-text">Malviya Medical Center, A.B. Road Dhamnod, Distt. Dhar 454552(Madhya Pradesh).</p>
          
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">Dr. Mahee Malviya</h5>
              <img  alt="admin" src="{% static 'homepage/s72.jpg' %}" width="200" height="150" class="rounded">
              <p class="card-text">Arogya Medical center, Opp. Trends, A.B. Road Dhamnod, Distt. Dhar 454552(Madhya Pradesh)</p>
              
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">Dr. Hritik Malviya</h5>
              <img  alt="admin" src="{% static 'homepage/s72.jpg' %}" width="200" height="150" class="rounded">
              <p class="card-text">Malviya Hospital, A.B. Road Dhamnod, Distt. Dhar 454552(Madhya Pradesh)</p>
              
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">Dr. Gajanan Malviya</h5>
              <img  alt="admin" src="{% static 'homepage/s72.jpg' %}" width="200" height="150" class="rounded">
              <p class="card-text">Malviya Hospital, A.B. Road Dhamnod, Distt. Dhar 454552(Madhya Pradesh)</p>
              
          </div>
      </div>
  </div>
</div>
<br><br><br><br>

        












    <div id="footer" class="card bg-dark text-white">
      <div class="card-body">
        Contact-
     
    <ul >
     
      <li >
        <h5 class="mb-1">Email: snehamalviya14@gmail.com</h5>
      </li>
      <li >
        <h5 class="mb-1">Contact no. 9767376037</h5>
      </li>
      <li >
        <h5 class="mb-1">Address: Byculla Mumbai</h5>
        
      </li>
      
    </ul>
  </div>
  </div>

  
 





</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    




    
{% endblock %}
